<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
   {% block head %}
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   {% endblock %}
</head>

<body>
	  {% extends "parent.html" %}
	  {% block content %}
		<h2> O mnie </h2>
		<p><strong>Imie</strong>  Sebastian</p>
		<p><strong>Nazwisko</strong>  Slusarczyk</p>
		<script src="script.js"></script>
	  {% endblock %}
</body>

</html>
