html {
    height: 100%;
    width: 100%;
  }
  
  h1 {
    background-color: grey;
  }
  h2 {
    color: #2c32e2;
  }

.input-container {
    display: flex;
    align-items: center;
  }

input, textarea {
    margin: 5px;
  }
